@import url(./font/font.css);
@import "mixins.scss";
.container{

    font-family: Vazir;
    width: 100vw;
    height: 100vh;
}
.inputContact{
    width: 45%;
}
.header{
width: 100vw;
height: 45vh;
background: url('../public/header.png') no-repeat  ;
background-size: cover;
}
.content{ position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 55vh;
}
.divInContent{position: absolute;
    display: flex;
    top: -30%;
    width: 70vw;
    height: 50vh;
    background-color: white;

}
.left{direction: rtl;   
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    width: 55%;
    height: 100%;
    background: white;
}
.divContainInput{
    height: 100px;
}
.right{
direction: rtl;
    width: 45%;
    height: 100%;
    background: rgb(14,165,120);
    background: -moz-linear-gradient(45deg, rgba(14,165,120,1) 21%, rgba(32,163,85,1) 56%, rgba(56,158,40,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(14,165,120,1) 21%, rgba(32,163,85,1) 56%, rgba(56,158,40,1) 100%);
    background: linear-gradient(45deg, rgba(14,165,120,1) 21%, rgba(32,163,85,1) 56%, rgba(56,158,40,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0ea578",endColorstr="#389e28",GradientType=1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.submitBtn{
    width: 200px;
    height: 47px;
    font-family: 'Vazir';
    border-radius: 30px;
    border-color: transparent;
    background: rgb(9,126,197);
    background: linear-gradient(90deg, rgba(9,126,197,1) 0%, rgba(1,155,215,1) 61%, rgba(0,184,231,1) 100%);
    margin: auto;
    color:white;
    display: block;
}
.left h1{text-align: center;
    color: #349CCF;
}
.textField{text-align: center !important;
    font-family: Vazir !important;
}
.divOpacity{
width: 100%;
height: 100%;
background-color: #26A2D6;
opacity: 0.8;
}
.divContainInput{
display: flex;
justify-content: space-around;
}
.divTextArea{
    width: 96%;
    margin: auto;
}
.divIconRight{
    display: flex;
    align-items: center;
    color: white;
}
.divIconRight img{
   width: 35px;
   height: 35px;
}
.divIconRight h4{
    font-weight: 300 ;
    margin-right: 10px;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.socialMediaDiv{
    display: flex;
    justify-content: space-around !important;
    align-items: center;
}
.validateError{
    color: red;
}
@media screen and (max-width: 800px) {
    .header{
        display: none;
    }
   .divInContent{
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 100vh;
    .left{
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
    .right{
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
    .divIconRight h4{
        font-size: 18px;

    }
    .divContainInput{
display: grid;
grid-template-columns: 1;
    }
    .inputContact{
        width: 70vw;
    }
    .divTextArea{
        width: 70vw; 
    }
   }
  }