.container {
    width: 100vw;
    background-color: #2B2B2B;
    color: white;
}

.linkStyle {
    padding: 10px 0px;
}

.contentFooter {
    width: 90%;
    height: 80%;
    margin: auto;
    direction: rtl;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-bottom: 1px solid white;
}

.footerSection {
    text-align: right;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 500px) {
    .contentFooter{width: 90%;
        grid-template-columns: 1fr;
    }
    .footerSection{
        text-align: center;
        margin-bottom: 20px;
    }
}
